@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

html,


.wrapper {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background-color: #17191C;
}

.main-page-wrapper{
    background: url(../img/hero.jpg) no-repeat top center, url(../img/bottom-pic.jpg) no-repeat bottom center;
}

.container {
    margin: 0 auto;
    width: 1142px;
}


a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin-top: 0;
}
ul li {
    list-style: none;
}

img{
    display: block;
    max-height: 100%;
}



.headr {
    padding-top: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headr__col{
    display: flex;
    align-items: center;
}

.headr__col-align-right{
    justify-content: flex-end;
}

.logo {
    display: inline-block;
    margin-right: 241px;
    
}

.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item-active .menu__link{
    color: #dfb56d;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover{
    color: #dfb56d;
}

.contacts{
   
    font-style: normal;
    text-align: right;
}

.contacts__tel{
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
    margin-bottom: 2px;
}

.contacts__graph{
    font-size: 13px;
    text-decoration: underline;
    color: #FFff;
    ;
}

.dropdown{
    position: relative;
   
}

.dropdown:hover .contacts__graph{
    color: #ff3d00;;
}

.dropdown:hover .dropdown__menu{
    right: 0;
    opacity: 1;
}

.dropdown__menu{
    position: absolute;
    background: url(../img/dropdown.png) no-repeat top right;
    padding: 25px 19px;
    width: 160px;
    top: 100%;
    font-size: 13px;
    color: #1e1f20;
    margin-top: 1px;
    opacity: 0;
    transition: .4s;
    right: -999999999px;
}

.dropdown__schedule{
    font-weight: 700;  
}

.dropdown__dinner{
    font-weight: 600;
}

.contacts__text{
    color: #9A9A9A;
    font-size: 11px;
}

.preview{
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 231px;
    text-align: center;
    
}

.preview__title{
    font-size: 72px;
    font-weight: 800;
    line-height: 1.3;
    margin-top: 155px;
    margin-bottom: 23.5px;

}

.preview__text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 43.5px;
}

.button{
    background: #FF3D00;
    border: 0;
    border-radius: 35px;
    padding: 18px 53px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer
}

.button:hover{
    background: #DA0100;
}

.preview__button button{
    position: absolute;
    top: 50%;
}

.features__list{
    display: flex;
    justify-content: space-between;
}
.features__item{
    min-height: 476px;
    background: #FFFFFF;
    border-radius: 5px;
    width: calc(100% / 3 - 18px);
    color: #000000;
    margin-bottom: 149px;
    display: flex;
    flex-direction: column;
}
 .features__item:last-child{margin-right: 0;}

 .features__img-icon{
     padding-top: 36px;
     padding-left: 29px;
     margin-bottom: 24px;
     width: 84px;
     height: 80px;
 }

 .features__content{
     padding-left: 22px;
     padding-right: 28px;
     padding-bottom: 53px;
     flex: 1;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }

 .features__subtitle{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

 .features__ophion{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.features__option-text{   
    margin-right: 81px;
    color: #666666;
}
 

 .features__option-text:last-child{margin-right: 0;}

 .features__text{
     font-size: 14px;
     color: #666666;
     margin-bottom: 37px;
 }

 .features__button{
     margin-top: auto;
 }

 .news__title{
     font-size: 36px;
     font-weight: 800;
     margin-bottom: 51px;
 }

 .news__list{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .news__item{
     vertical-align: top;
     position: relative;
     margin-right: 11px;
     margin-bottom: 50px;
     flex: 1;
     
 }

 .news__img{
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .news__content{
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     padding: 13px 31px;
     min-height: 130px;
 }

 .news__date{
     font-size: 14px;
     margin-bottom: 12px;
 }

 .news__subtitle{
     font-size: 24px;
     font-weight: 700;
     margin-bottom: 4px;
 }

 .paginator{
    display:flex;
    justify-content: center;
    align-items: center;
     
 }

 .paginator--theme--light{
     color: #000;
 }

 .paginator--theme--light .paginator__item-active .paginator__link{
     color: #FFFFFF;
}

.paginator--theme--light .paginator__link:hover{
    color: #ffffff;
    background: #FF5500;
}

 .paginator__list{
     display: flex;
     justify-content: center;
 }

 .paginator__display{
     margin-right: 27px;
 }

 .paginator__item{
     text-align: center;
 }

 .paginator__item-active .paginator__link{
     background: #FF5500;
 }

 .paginator .paginator__link:hover{
    background: #FF5500;
}
 .paginator__link{
     display: block;
     width: 32px;
     height: 32px;
     border-radius: 50%;
     text-decoration: none;
     font-weight: 700;
     line-height: 32px;
 }

 .about:before{
     content: "";
     display: block;
     width: 490px;
     height: 505px;
     background: url("../img/cameraman.jpg") center center / cover no-repeat;
 }

 .about{
     display: flex;
     margin-top: 145px;
     margin-bottom: 53px;
 }
.about__content{
    background: #FFFFFF;
    padding: 70px 90px;
    width: 600px;
    max-height: 318px;
    margin-left: -136px;
    margin-top: 97px;
    border-radius: 5px;

}

.about__title{
    font-weight: 800;
    font-size: 36px;
    color: #000000;
    margin-bottom: 37px;
  
}

.about__text{
    color: #060606;
    margin-bottom: 43px;
}

.about__text p {
    margin-bottom: 20px;
}
.about__text p:last-child{margin-bottom: 0;}


.footer{
    
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__home{
    border-top: 1px solid #FFFFFF;
    height: 93px;
}

.footer__col{
    display: flex;
    align-items: center;
}

.footer__col-align-right{
    align-items: flex-end;
}
.menu__footer{
    position: absolute;
    top: 30px;
    left: 329px;
}

.social{
   margin-right: 74px;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.social__item:last-child{margin-right: 0;}

.social__link{
display: block;
text-decoration: none;
width: 36px;
height: 36px;
border-radius: 50%;
opacity: 0.4;
background: center center no-repeat;
}

.social__item--icon--telegram .social__link{
    background-image: url("../img/telegram.jpg");
}

.social__item--icon--telegram .social__link:hover{
    background-image: url("../img/t-hover.jpg");
}

.social__item--icon--vk .social__link{
    background-image: url("../img/vk.jpg");
}

.social__item--icon--vk .social__link:hover{
    background-image: url("../img/vk-hover.jpg");
}

.social__item--icon--fb .social__link{
    background-image: url("../img/fb.jpg");
}

.social__item--icon--fb .social__link:hover{
    background-image: url("../img/fb-hover.jpg");
}

.social__item--icon--insta .social__link{
    background-image: url("../img/insta.jpg");
}

.social__item--icon--insta .social__link:hover{
    background-image: url("../img/insta-hover.jpg");}



    /*services*/

    .top-line{
        min-height: 416px;
        background: url(../img/top-line.jpg) no-repeat top center;
        display: flex;
        flex-direction: column;
    }

    .top-line__container{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 27px;
    }

    .page-title{
        font-size: 72px;
        line-height: 1;
        font-weight: 800;
    }

    .breadcrumbs__list{
        display: flex;
        align-items: center;
    }

    .breadcrumbs__item{
        display: flex;
        align-items: center;
    }

    .breadcrumbs__item::after{
        content: "/";
        color: #9a9a9a;
        padding-left: 5px;
        padding-right: 5px;
    }

    .breadcrumbs__item:last-child::after{
        display: none;
    }

    .breadcrumbs__link{
        color: #9A9A9A;
        font-size: 14px;
    }

    .breadcrumbs__item--active .breadcrumbs__link{
        font-weight: 700;
    }

    .page-content{
        background: #FFFFFF;
        color: #303030;
        ;
        padding-top: 94px;
        padding-bottom: 80px;
      
    }

    .services{
        margin-bottom: 65px;
    }

    .service{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .services__item{
        margin-bottom: 49px;
    }

    .services__item:last-child{
        margin-bottom: 0;
    }

    .service__img{
        width: 460px;
        height: 333px;
        margin-right: 56px;
    }

    .service__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .service__title{
        font-size: 36px;
        font-weight: 700;
        
        color: #000000;
        ;
    }

    .service__desc{
        line-height: 27px;
        
    }

    .service:hover{
        background: #f4f5f5;
    }

    .service:hover .button{
        background: #DA0100;
    }

    .inner-section{
        background:#F4F5F5;
        color: #1A1B1E;
        padding: 45px 0px;
    }

    .inner-section__title{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 60px;
    }

    .partners{
        display: flex;
        flex-wrap: wrap;
    }

    .partners__item{
        margin-left: 47px;
    }

    .partners__item:nth-child(4n + 1){
        margin-left: 0;
    }

    .parnters__link{
        text-decoration: none;
        display: flex;
        width: 250px;
        height: 115px;
        align-items: center;
        justify-content: center;
        filter: grayscale(100%);
    }

    .parnters__link:hover{
        filter: grayscale(0);
    }

    .inner-footer{
        padding: 45px 0;
        margin-top: auto;;
    }

    /*reviwews*/

    .reviews{
       column-count: 2; 
       column-gap: 26px;
       margin-bottom: 70px;
    }

    .review{
        display: inline-flex;
        flex-direction: column;
        padding: 50px 28px;
       
    }

    .reviews__item{ 
        background: #F4F5F5;
        margin-bottom: 17px;
    }

    .avatar{
        width: 142px;
        height: 142px;
        overflow: hidden;
        border-radius: 50%;
    }

    .reviews__headr{
        display: flex;
        align-items: center;
        margin-bottom: 27px;
    }

    .reviews__photo{
        margin-right: 22px;
    }

    .reviews__userdata{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .reviews__user{
        color: #2E77A4;
        font-size: 24px;
        font-weight: 700;
        line-height: 42px;
        display: flex;
        align-items: center;
        margin-bottom: 3px;
    }

    .reviews__user:after{
        content: url("../img/vk-blu.png");
        height: 35px;
        margin-left: 7px;
    }

    .tag{
        font-size: 13px;
        color: #303030;
        padding: 10px 25px;
        border-radius: 50px;
        background: #E7E7E7;
    }

    .reviews__tag{
        background: #F2D4C9;
    }

    .reviews__title{
        font-size: 30px;
        font-weight: 700;
        color: #202020;
        margin-bottom: 13px;
    }

    .reviews__text{
        color: #818181;
        margin-bottom: 45px;
        line-height: 27px;
    }

    .reviews__data{
        font-size: 14px;
        font-weight: 600;
        color: #1A1B1E;
    }

    .separator{
        background: #373737 url("../img/party.png") right 15% bottom no-repeat;
        background-blend-mode: multiply;
        min-height: 363px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .separator__content{
        max-width: 48%;
    }

    .separator__title{
        font-size: 48px;
        font-weight: 700;
        line-height: 65,37px;
    }

    .separator__title-red{
        color: red;
    }

    .inner-section__title-reviews{
        font-size: 36px;
        font-weight: 800;
    }

    .form__row{
        display: flex;
        margin-bottom: 26px;
    }

    .form__input{
        flex: 1;
        margin-right: 28px;
        border-radius: 5px;
        border: none;
        background: #ffffff;
        padding: 20px 30px;
        font-size: 18px;
        color: #1A1B1E;
    }

    .form__input::placeholder{
        color: #666666;
    }

    .form__input:last-child{
        margin-right: 0;
    }

    .form__input--textarea{
        height: 200px;
    }

    .form__controls{
        display: flex;
        margin-bottom: 33px;
    }

    .form__controls-title{
        width: 38%;
        font-size: 18px;
    }

    .controls{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

    .controls__item{
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .controls__elem{
        cursor: pointer;
    }

    .controls__checkbox:checked ~ .contols__tag{
        background: #F2D4C9;
    }

    .controls__checkbox{
        display: none;
    }

    .contols__tag{
        padding: 9px 12px;
    }

    .button-grey-black{
        background: #8E8E8E;
    }

    .button-grey-black:hover{
        background: #2b2b2b;
    }

    .form_button{
        display: flex;
        justify-content: flex-end;
    }

    .form__btn{
        margin-right: 13px;
        padding: 18px 37px;
    }

    .form__btn:last-child{
        margin-right: 0;
    }


    /* welcome */


    .welcome{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: url("../img/bgwelcome.png") center bottom / cover no-repeat, url("../img/rec.png") center  no-repeat;
        background-blend-mode: color;
    }

    .central{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .central__logo{
        margin-bottom: 38px;
    }

    .button__welcom{
        padding: 21px 58px;
    }

    .central__video{
        opacity: 0;
        animation: rotateIn .9s;
        animation-fill-mode: forwards;
    }

    @keyframes rotateIn {
        from{
            transform: scale(0.1) rotate(30deg);
        }

        50%{
            transform: rotate(-10deg);
        }

        70%{
            transform: rotate(3deg);
        }

        to{
            opacity: 1;
            transform: scale(1);
        }
    }

